@media screen and (max-width: 1000px) {
    /* body {
        background-color: red;
    } */
    nav {
        flex-direction: column;
    }
    .logo {
        justify-content: center;
        margin: 12px 0;
    }
    nav ul {
        justify-content: center;
    }
    .search {
        justify-content: center;
    }
    .search input {
        margin: 12px 18px;
    }
    nav ul {
        height: 20px;
    }
    .slider {
        height: 23vh;
    }
    .card-item img {
        width: 141px;
        padding: 0 75px;
    }
}