@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--main-bg-color);
    /* border: 2px solid blue; */
    font-family: 'Pacifico', cursive;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

nav img {
    width: 90px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    /* color: rgb(195, 19, 19); */
    /* font-size: 20px; */
    font-weight: bold;
    text-decoration: none;
}

.search input {
    width: 30vw;
    height: 32px;
    border-radius: 2px;
    margin: 0 60px;
    padding: 0 15px;
}

.search {
    display: flex;
    align-items: center;
}

.searchicon {
    display: flex;
    align-items: flex-start;
}

.searchicon img {
    width: 30px;
    padding: 14px 0px;
    margin: 1px -56px;
    cursor: pointer;
}

.searchicon :hover {
    width: 35px;
    padding: 13px 0px;
}

.searchicon {
    width: 12px;
    height: 23px;
}

.slider {
    width: 65vw;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    /* background-color: green; */
    margin: 0 98px;
    max-width: 90vw;
    margin: 35px 63px;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    /* overflow: scroll; */
}

.lines {
    padding: 7px 27px;
    margin: -4px 5px;
}

.card h2 {
    text-align: center;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 4px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Pacifico', cursive;
}