body {
    margin: 0; /*this is top - leftRight - bottom ==> remember the clock */
    text-align: center;
}
h1 {
    margin: 0;
}

.pro {
    text-decoration: underline;
}
.top-container {
    background-color: #CFFF8D;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    height: 200px;
    width: 200px;
    background-color: #FF731D;

}
.bottom-container {
    height: 200px;
    width: 200px;
    background-color: #FFABE1;

}
.cloud1 {
    position: absolute;
    right: 300px;
    top: 50px;
}

.cloud2 {
    position: absolute;
    left: 300px;
    bottom: 300px;
}