.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aquamarine;
    height: 100vh;
    align-items: center;
    /* align-content: center; */
}

.box1 {
    height: 234px;
    /* width: 345px; */
    background-color: blue;
    border: 2px solid black;
    /* float: right; */
    order: 4;
    /* align-self: flex-end; */
    flex-grow: 2;
}

.box2 {
    flex-grow: 1;
    /* flex-shrink: 2; */
    height: 234px;
    /* width: 345px; */
    background-color: red;
    /* float: right; */
    /* clear: right; */
    border: 2px solid black;
}