.container {
    display: grid;
    background-color: yellow;
    height: 56vh;
    /* grid-row-gap: 2px; */
    /* grid-column-gap: 9px; */
    grid-gap: 9px 9px;
    /* grid-template-columns: 34px 334px auto; */
    /* grid-template-rows: 34px 53px; */
    grid-template-columns: auto auto auto auto;
    ;
}

.item {
    background-color: aqua;
    border: 3px solid red;
}